<% include ../partials/header %>
<% include ../partials/menu %>
	
	<body style="background-color:#EDF2F2;">

	<div class= "container">
		<h1 class = "heading">Profile</h1>

		<div class= "data-form">
			<div class = "form">
				<form action="/profile" method="POST" class = "login-form">
					
					<h3>Personal Information</h3>
					<div class="form-group form-inline">
						<label class = "form-label">First Name</label>
						<input class = "input" type = "text" placeholder = "First Name" value="<%-data[0].first_name%>" name="first_name">
						<label class = "form-label">Middle Initial</label>
						<input class = "input" type = "text" placeholder = "Middle Initial" value="<%-data[0].middle_init%>" name="middle_init">
						<label class = "form-label">Last Name</label>
						<input class = "input" type = "text" placeholder = "Last Name" value="<%-data[0].last_name%>" name="last_name">
					</div>
					<textarea class = "input" type = "text" placeholder = "Short Bio"></textarea>
					<hr>
					
					<h3>Contact Information</h3>
					<label class = "form-label">Phone Number</label>
					<input class = "input" type = "text" placeholder = "Phone Number" value="<%-data[0].phone%>" name="phone">
					<label class = "form-label">Email</label>
					<input class = "input" type = "text" placeholder = "Email" value="<%-data[0].email%>"  name="email">
					<label class = "form-label">Address</label>
					<input class = "input" type = "text" placeholder = "Address" value="<%-data[0].addr%>"  name="addr">
					<label class = "form-label">City</label>
					<input class = "input" type = "text" placeholder = "City" value="<%-data[0].city%>"  name="city">
					<label class = "form-label">State</label>
					<input class = "input" type = "text" placeholder = "State" value="<%-data[0].ste%>"  name="ste">
					<label class = "form-label">Zip</label>
					<input class = "input" type = "text" placeholder = "Zip Code" value="<%-data[0].zip%>"  name="zip">
					<hr>
					
					<h3>Education</h3>
					
					<div class="tab-button-container">
						<button id="education-button-1" type="button" class="tab-button active" onclick="change_education(1);">Education History 1</button>
						<button id="education-button-2" type="button" class="tab-button" onclick="change_education(2);">Education History 2</button>
						<button id="education-button-3" type="button" class="tab-button" onclick="change_education(3);">Education History 3</button>
						<button id="education-button-4" type="button" class="tab-button" onclick="change_education(4);">Program Highlights</button>
					</div>
					
					<div id="education-history-1" style="display:block;">
						<h4>Education History (1)</h4>
						<label class = "form-label">School Name</label>
						<input class = "input" type = "text" placeholder = "School Name" value="<%-data[0].edschool[0]%>" name="edschool[0]">
						<label class = "form-label">Grade Point Average</label>
						<input class = "input" type = "text" placeholder = "Grade Point Average" value="<%-data[0].edgpa[0]%>" name="edgpa[0]">
						<label class = "form-label">Graduation Date</label>
						<input class = "input" type = "date" placeholder = "Graduation Date" value="<%-data[0].edgrad[0]%>" name="edgrad[0]">
						<label class = "form-label">Degree</label>
						<input class = "input" type = "text" placeholder = "Degree" value="<%-data[0].edprog[0]%>" name="edprog[0]">
						<hr>
					</div>
					
					<div id="education-history-2" style="display:none;">
						<h4>Education History (2)</h4>
						<label class = "form-label">School Name</label>
						<input class = "input" type = "text" placeholder = "School Name" value="<%-data[0].edschool[1]%>" name="edschool[1]">
						<label class = "form-label">Grade Point Average</label>
						<input class = "input" type = "text" placeholder = "Grade Point Average" value="<%-data[0].edgpa[1]%>"  name="edgpa[1]">
						<label class = "form-label">Graduation Date</label>
						<input class = "input" type = "date" placeholder = "Graduation Date" value="<%-data[0].edgrad[1]%>" name="edgrad[1]">
						<label class = "form-label">Degree</label>
						<input class = "input" type = "text" placeholder = "Degree" value="<%-data[0].edprog[1]%>" name="edprog[1]">
						<hr>
					</div>
					
					<div id="education-history-3" style="display:none;">
						<h4>Education History (3)</h4>
						<label class = "form-label">School Name</label>
						<input class = "input" type = "text" placeholder = "School Name" value="<%-data[0].edschool[2]%>" name="edschool[2]">
						<label class = "form-label">Grade Point Average</label>
						<input class = "input" type = "text" placeholder = "Grade Point Average" value="<%-data[0].edgpa[2]%>" name="edgpa[2]">
						<label class = "form-label">Graduation Date</label>
						<input class = "input" type = "date" placeholder = "Graduation Date" value="<%-data[0].edgrad[2]%>"  name="edgrad[2]">
						<label class = "form-label">Degree</label>
						<input class = "input" type = "text" placeholder = "Degree" value="<%-data[0].edprog[2]%>" name="edprog[2]">
						<hr>
					</div>
					
					<div id="education-history-4" style="display:none;">
						<h4>Program Highlights</h4>
						
						<hr>
					</div>
					
					<h3>Employment History</h3>
					
					<div class="tab-button-container">
						<button id="employment-button-1" type="button" class="tab-button active" onclick="change_employment(1);">Employment History 1</button>
						<button id="employment-button-2" type="button" class="tab-button" onclick="change_employment(2);">Employment History 2</button>
						<button id="employment-button-3" type="button" class="tab-button" onclick="change_employment(3);">Employment History 3</button>
					</div>
					
					<div id="employment-history-1" style="display:block;">
						<h4>Employment History (1)</h4>
						<label class = "form-label">Title</label>
						<input class = "input" type = "text" placeholder = "Title" value="<%-data[0].jobtitle[0]%>">
						<label class = "form-label">Company</label>
						<input class = "input" type = "text" placeholder = "Company" value="<%-data[0].jobcomp[0]%>">
						<label class = "form-label">Description</label>
						<textarea class = "input" type = "text" placeholder = "Description"><%-data[0].jobdesc[0]%></textarea>
						<label class = "form-label">Start Date</label>
						<input class = "input" type = "date" placeholder = "Start Date" value="<%-data[0].jobstart[0]%>">
						<label class = "form-label">End Date</label>
						<input class = "input" type = "date" placeholder = "End Date" value="<%-data[0].jobend[0]%>">
						<hr>
					</div>
					
					<div id="employment-history-2" style="display:none;">
						<h4>Employment History (2)</h4>
						<label class = "form-label">Title</label>
						<input class = "input" type = "text" placeholder = "Title" value="<%-data[0].jobtitle[1]%>">
						<label class = "form-label">Company</label>
						<input class = "input" type = "text" placeholder = "Company" value="<%-data[0].jobcomp[1]%>">
						<label class = "form-label">Description</label>
						<textarea class = "input" type = "text" placeholder = "Description"><%-data[0].jobdesc[1]%></textarea>
						<label class = "form-label">Start Date</label>
						<input class = "input" type = "date" placeholder = "Start Date" value="<%-data[0].jobstart[1]%>">
						<label class = "form-label">End Date</label>
						<input class = "input" type = "date" placeholder = "End Date" value="<%-data[0].jobend[1]%>">
						<hr>
					</div>
					
					<div id="employment-history-3" style="display:none;">
						<h4>Employment History (3)</h4>
						<label class = "form-label">Title</label>
						<input class = "input" type = "text" placeholder = "Title" value="<%-data[0].jobtitle[2]%>">
						<label class = "form-label">Company</label>
						<input class = "input" type = "text" placeholder = "Company" value="<%-data[0].jobcomp[2]%>">
						<label class = "form-label">Description</label>
						<textarea class = "input" type = "text" placeholder = "Description"><%-data[0].jobdesc[2]%></textarea>
						<label class = "form-label">Start Date</label>
						<input class = "input" type = "date" placeholder = "Start Date" value="<%-data[0].jobstart[2]%>">
						<label class = "form-label">End Date</label>
						<input class = "input" type = "date" placeholder = "End Date" value="<%-data[0].jobend[2]%>">
						<hr>
					</div>
					
					<button type="submit" class = "apply-button">Apply</button>
				</form>
			</div>
		</div>
		
    </div>

<% include ../partials/footer %>